@model ExamTextViewModel

@{
    string className = "";
    if(Model.IdName == "text")
    {
        className = "mb-3 mt-1";
    } else if (Model.IdName == "question")
    {
        className = "mb-1 mt-2";
    } else
    {
        className = "mb-1";
    }
    string size = Model.FontSize.ToString() + "px";
    string alignment = "";
    switch (Model.Alignment)
    {
        case Alignment.Left:
            alignment = "Left";
            break;
        case Alignment.Center:
            alignment = "Center";
            break;
        case Alignment.Right:
            alignment = "Right";
            break;
        default:
            alignment = "Left";
            break;
    }
    string bold = "";
    if (Model.Bold)
        bold = "bold";
    else bold = "none";

    string italic = "";
    if (Model.Italic)
        italic = "italic";
    else italic = "normal";

    string underline = "";
    if (Model.Underlined)
        underline = "underline";
    else underline = "none";
}

<label class="@className"
       style="width: 100%;
            color: @Model.Color;
            font-size: @size;
            text-align: @alignment;
            font-weight: @bold;
            font-style: @italic;
            text-decoration: @underline">
    @Model.Text
</label>