@using Domain.Enums

<link href="~/css/TeacherStyle.css" rel="stylesheet" />

@model ExamViewModel

<header class="mt-3">
    <form id="headerForm" method="post" class="offset-2 col-8 ">
        <button id="saveExamHeaderBtn"><img class="float-right p-1" src="~/images/save-icon.png" width="30"/></button>
        <div class="row text-center">
            <input class="headerValidateGroup" placeholder="Title" asp-for="ExamHeader.ExamTitle" id="examTitleInput" style="font-size: 32px" />
            <span asp-validation-for="ExamHeader.ExamTitle" class="text-danger"></span>
        </div>
        <div class="row text-center">
            <input class="headerValidateGroup" placeholder="Description" asp-for="ExamHeader.ExamDescription" id="examDescriptionInput" style="font-size: 24px" />
            <span asp-validation-for="ExamHeader.ExamDescription" class="text-danger"></span>
        </div>
        <div class="row">
            <input id="examSubTitleInput" class="col-3 headerValidateGroup" placeholder="Subject Title" asp-for="ExamHeader.SubjectTitle" />
            <input id="examSubDescriptionInput" class="offset-1 col-8 headerValidateGroup" placeholder="Subject Description" asp-for="ExamHeader.SubjectDescription" />
            <span asp-validation-for="ExamHeader.SubjectTitle" class="text-danger"></span>
            <span asp-validation-for="ExamHeader.SubjectDescription" class="text-danger"></span>
        </div>
    </form>
    <section id="examHeader">
        <h1 class="text-center examLbl" id="examTitleLbl"></h1>
        <h3 class="text-center examLbl" id="examDescriptionLbl"></h3>
        <div class="row text-center">
            <h5 class="col-3 examLbl" id="examSubjectTitleLbl"></h5>
            <h5 class="col-9 examLbl" id="examSubjectDescriptionLbl"></h5>
        </div>
    </section>
</header>
<hr class="my-4 mr-0 ml-0">


<main class="row mt-2 px-md-4">
    <!--Exam View-->
    <div class="offset-md-1 col-md-8 p-2">

        <hr class="my-2 mr-0 ml-0">
        <section class="p-2 my-2" id="examInputSection">
        </section>
        <section class="p-2 my-2" id="inputsSection">


            <partial name="_ImageInput" for="ExamImages[0]" />

        </section>


        <!--Input Box - 3 Options/Buttons - Add Text/Image/Quistion-->
        <section id="questionInput" class="row d-flex justify-content-around">
            <a id="addExamText" class="col-4" onclick="GetTextInput('text')">
                <img class="add-icons mx-auto d-block" src="~/images/teacher/add-text-icon.png" />
                <label class="addIconLbl col-12 text-center">Add Text</label>
            </a>
            <a id="addExamQuestion" class="col-4" onclick="GetTextInput('question')">
                <img class="add-icons mx-auto d-block" src="~/images/teacher/add-question-icon.png" />
                <label class="addIconLbl col-12 text-center">Add Question</label>
            </a>
            <a id="addExamImage" class="col-4">
                <img class="add-icons mx-auto d-block" src="~/images/teacher/add-image-icon.png" />
                <label class="addIconLbl col-12 text-center">Add Image</label>
            </a>
        </section>
        <hr class="my-2 mr-0 ml-0">

    </div>



    <!--Exam Settings-->
    <form id="examSettingsForm" class="offset-md-1 col-md-2 p-2 ml-md-5 offset-2 col-8">
        <img id="examSettingsIcon" src="~/images/settings-icon.png" class="float-right" />
        <div class="d-flex justify-content-between">
            <h5>Exam Settings</h5>
        </div>
        <div class="mt-4">
            <label asp-for="Settings.IsExamPrivate"></label>
            <input id="examPrivacyInput" asp-for="Settings.IsExamPrivate" />
        </div>
        <hr class="my-4">
        <div>
            <label asp-for="Settings.ExamDueDate"></label>
            <input id="dueDateInput" onchange="ValidateDueDate(this)" type="date" asp-for="Settings.ExamDueDate" 
                   value="@(DateTime.Now.AddDays(7).ToString("yyyy-MM-dd"))" />
            <span id="dueDateValidationSpan"></span>
        </div>
        <hr class="my-4">
        <div>
            <label asp-for="Settings.ExamTimeLimit"></label>
            <input id="timeLimitInput" type="time" asp-for="Settings.ExamTimeLimit" value="01:30" />
            <span id="timeLimitValidationSpan" asp-validation-for="Settings.ExamTimeLimit"></span>
        </div>
        <hr class="my-4">
        <button class="btn btn-primary mt-3 float-right" id="saveExamBtn" onclick="return SaveExam(@(Model.TeacherId))">Save Exam</button>
    </form>
</main>

<script src="~/js/examScript.js"></script>