@inject SignInManager<Infrastructure.Models.AppUser> signInManager;



<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="nav-brand" href="#"><img src="img/logo.png"> </a>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ExamsWeb</a>
        @*<button class="nav-bar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        @if (signInManager.IsSignedIn(User))
        {
            <form method="post" asp-controller="account" asp-action="logout">
                <button type="submit" style="width:auto"class="nav-link btn btn-link py-0">
                    Logout @User.Identity.Name
                </button>
            </form>
        }
        else
        {
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#dropdown-content" class="nav-link dropdown-toggle" data-toggle="collapse" role="button" aria-controls="dropdown-content" aria-expanded="false">Hello, Sign in</a>
                        <div id="dropdown-content" class="collapse dropdown-menu">
                            <a class="dropdown-item" asp-controller="Account" asp-action="SignIn">Sign In</a>
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                        </div>
                    </li>
                </ul>
            </div>
        }
    </div>
</nav>



<link href="~/css/NavBarStyle.css" rel="stylesheet" />