.teacher-icons {
    width: 70px
}
#subjectsSection {
    width: 100%;
}
.DescriptionInputs {
    width: 100%;
}
.invitationsTd {
    padding: 0;
}
#invitationInput {
    width: 100%;
}
.add-icons {
    width: 35px;
}
#examSettingsIcon {
    width: 25px;
}
.addIconLbl{
    
}